input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .alert {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem
  }  